<template name="gameInterface">

		{{#with kingdom}}

		<p style="text-align: right; padding-bottom: 70px;">In the {{year}} year of our lord</p>

		<p>My Lord, I write to inform you:</p>

		{{#if gameNotOver}}

		<p>As per your guidance, last year we harvested {{bushels}} bushels. {{starved}} of the population starved. The Orcales sacrificed {{rats}} bushels. Our total population has grown to {{population}} souls.</p>

		<p>We’ve started the year with {{budget}} Bushels. We advise that we send <a href="#" id="food">{{hunger}}</a> Bushels to keep the population from starving. We'll buy <a href="#" id="land">no land</a> while the price is {{price}} Bushels. We advise that we seed <a href="#" id="seed">8000</a> arces of our {{acres}} arces. We have a stock pile of {{budget}} Bushels for next year.</p>

		<p>As always, we suggest that we maintain peacful relations with the following Kingdoms.</p>

		<p>I’ve yet to hear word that our rivals have. Do the commands please you my lord? We shall make it your will, commands forthwith.</p>

		<!--

		<div class="row">
			<p>{{advice}}</p>
  		</div>

		<div class="row">
			<table class="u-full-width">
	  			<thead>
	    			<tr>
	    				<th>Unit</th>
	    				<th>Total</th>
	    			</tr>
	    		</thead>
	  			<tbody>
	 				<tr>
		  				<td>Population</td>
		  				<td>	</td>
	 				</tr>
	 				<tr>
		  				<td>Bushels</td>
		  				<td>{{budget}}</td>		  			
	 				</tr>
	 				<tr>
		  				<td>Arces</td>
		  				<td>{{acres}}</td>		  			
	 				</tr>
	 
	 				<tr>
		  				<td>Soliders</td>
		  				<td>{{soliders}}</td>		  			
	 				</tr>
	 			
	 			</tbody>
	 		</table>
 		</div>

		<form>
			 <div class="row">
      				<label for="exampleEmailInput">How many Bushels to feed?</label>

      				{{#if year1}} 
      					<em>Our oracles say the population needs {{hunger}} Bushels each this year, or they'll starve.</em>
      					{{else}}

      					<em>Our oracles don't have any info on this matter this year. The gods are unkind.</em>

      				{{/if}}
      				<input type="number" placeholder="0 Bushels" value="0"  id="bushelsToFeed">
    		</div>
    		<div class="row">
      				<label for="exampleEmailInput">How many Acres to seed?</label>
      				<input type="number" placeholder="1 Bushels = 1 seeded" value="0"  id="seedOrder">
    		</div>
  			<div class="row">
      				<label for="exampleEmailInput">Buy or sell acres @ {{price}} Bushels</label>
      				<input type="number" placeholder="Buy 0 Arces" value="0" id="acresOrder">
    		</div>
    		
    		<div class="row">
      				<label for="exampleEmailInput">Train soliders @ {{solidersPrice}} Bushels</label>
      				<input type="number" placeholder="" value="0" id="solidersTrain">
    		</div>
    		 <div class="row">
      				<label for="exampleEmailInput">War with...</label>
      					<select id="war">

      						{{#each player}}
      						<option value="No man">No man</option>

      							{{> players}}

      						{{/each}}				  

						</select>
    		</div>


    		<input class="button-primary" type="submit" value="Command">
    	</form>

-->

    	{{else}}

    	<p>Your kingdom collapsed. {{totalStarved}} people starved in total.</p>

    	{{/if}}

    	{{/with}}

    	<!--

    	{{> scoreboard}}

    -->

</template>

<template name="players">
	<option value={{this}}>{{this}}</option>
</template>

<template name="score">
	<tr>
		<td>{{monarch}}</td>
		<td>{{population}}</td>
		<td>{{turnMade}}</td>	  			
	</tr>
</template>

<template name="scoreboard">
			<h3>Scoreboard</h3>
			<div class="row">
			<table class="u-full-width">
	  			<thead>
	    			<tr>
	    				<th>Monarch</th>
	    				<th>Population</th>
	    				<th>Turn Made?</th>
	    			</tr>
	    		</thead>
	  			<tbody>
	  				{{#each board}}

	  					{{> score}}

	  				{{/each}}

	  			</tbody>
	 		</table>
 		</div>
</template>	  				
