<template name="gameInterface">

		{{#with kingdom}}

		<div class="row">
			<h5>Year {{year}}</h5>
		</div>

		<div class="row">
			<p>{{advice}}</p>
  		</div>

		<div class="row">
			<table class="u-full-width">
	  			<thead>
	    			<tr>
	    				<th>Unit</th>
	    				<th>Total</th>
	    			</tr>
	    		</thead>
	  			<tbody>
	 				<tr>
		  				<td>Population</td>
		  				<td>{{population}}</td>
	 				</tr>
	 				<tr>
		  				<td>Bushels</td>
		  				<td>{{budget}}</td>		  			
	 				</tr>
	 				<tr>
		  				<td>Arces</td>
		  				<td>{{acres}}</td>		  			
	 				</tr>
	 				<tr>
		  				<td>Soliders</td>
		  				<td>{{soliders}}</td>		  			
	 				</tr>
	 			</tbody>
	 		</table>
 		</div>

		<form>
			 <div class="row">
      				<label for="exampleEmailInput">How many Bushels to feed?</label>
      				<input type="number" placeholder="0 Bushels" value="0"  id="bushelsToFeed">
    		</div>
    		<div class="row">
      				<label for="exampleEmailInput">How many Acres to seed?</label>
      				<input type="number" placeholder="1 Bushels = 1 seeded" value="0"  id="seedOrder">
    		</div>
  			<div class="row">
      				<label for="exampleEmailInput">Buy or sell acres @ {{price}} Bushels</label>
      				<input type="number" placeholder="Buy 0 Arces" value="0" id="acresOrder">
    		</div>
    		<div class="row">
      				<label for="exampleEmailInput">Train soliders @ {{solidersPrice}} Bushels</label>
      				<input type="number" placeholder="" value="0" id="solidersTrain">
    		</div>
    		 <div class="row">
      				<label for="exampleEmailInput">War with...</label>
      					<select id="war">

      						{{#each player}}
      						<option value="No man">No man</option>

      							{{> players}}

      						{{/each}}				  

						</select>
    		</div>


    		<input class="button-primary" type="submit" value="Command">
    	</form>

    	{{/with}}

    	{{> scoreboard}}

</template>

<template name="players">
	<option value={{this}}>{{this}}</option>
</template>

<template name="score">
	<tr>
		<td>{{monarch}}</td>
		<td>{{population}}</td>
		<td>{{turnMade}}</td>	  			
	</tr>
</template>

<template name="scoreboard">
			<h3>Scoreboard</h3>
			<div class="row">
			<table class="u-full-width">
	  			<thead>
	    			<tr>
	    				<th>Monarch</th>
	    				<th>Population</th>
	    				<th>Turn Made?</th>
	    			</tr>
	    		</thead>
	  			<tbody>
	  				{{#each board}}

	  					{{> score}}

	  				{{/each}}

	  			</tbody>
	 		</table>
 		</div>
</template>	  				
